{% extends "layout.html" %}
{% block body %}
  {% if page == 'home' %}
    <div class='auth'>
      <form action='/login' method='post'>
        <input type='text' name='email' placeholder='mail'></br>
        <input type='password' name='password' placeholder='mot de passe'></br>
        <div class='auth__submit'>
          <input class="submit" type="submit" value="🔥 Highway to your Gifs"></br>
        </div>
      </form>
    </div>

    <div class='info'>
      <span class='emoji'>😱</span>
      <span>Pas encore inscrit ? C'est par <a href="/signup">ici</a></span>
    </div>

    {% if signup == 'success' %}
    <div class='notification'>
      <span class='emoji'>🙌</span>
      <span>Votre compte a bien été créé</span>
    </div>
    {% endif %}

    {% if login == 'failed_pwd' %}
    <div class='notification'>
      <span class='emoji'>🚫</span>
      <span>Mot de passe incorrect</span>
    </div>
    {% endif %}

    {% if login == 'failed_user' %}
    <div class='notification'>
      <span class='emoji'>🙅</span>
      <span>Veuillez créer un compte pour vous connecter</span>
    </div>
    {% endif %}

  {% elif page == 'signup' %}
    <div class='auth'>
      <form action='/new_user' method='post'>
        <input type='text' name='surname' placeholder='prénom'></br>
        <input type='text' name='lastname' placeholder='nom'></br>
        <input type='text' name='email' placeholder='mail'></br>
        <input type='password' name='password' placeholder='mot de passe'></br>
        <div class='auth__submit'>
          <input class="submit" type="submit" value="📝 Sign up"></br>
      </div>
      </form>
    </div>

    <div class='info'>
      <p>Retour à la <a href="/">home</a></p>
    </div>
  {% elif page == 'user' %}
    <div class='wrapper'>
      <div class='profile'>
        <span class='emoji'>👱</span>
        <span>{{ user.surname }}</span>
        <span>{{ user.lastname }}</span>
      </div>

      <div class='profile-title'>
        <span class='emoji'>💰</span>
        <h2>Votre compte Gif</h2>
      </div>

      <div class='list-gifs'>
        {% for gif in gifs %}
          {% if gif.user_id == user.id %}
            <div class='list-gifs-item'>
              <h3>{{ gif.gif_name }}</h3>
              <span class='gif_url'>URL : <a href='{{ gif.gif_name }}'>{{ gif.gif_url }}</a></span>
              <img src='{{ gif.gif_url }}'/>
              <div class='transaction'>
                <form action='/transaction' method='post'>
                  <select name='receiver_id'>
                    <option value='' disabled selected>Destinataire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;↓</option>
                    {% for receiver in users %}
                    {% if receiver.id != user.id %}
                      <option value='{{ receiver.id }}'>{{ receiver.surname }} {{ receiver.lastname }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  <input type='hidden' name='sender_id' value='{{ user.id }}'>
                  <input type='hidden' name='gif_sent' value='{{ gif.gif_name }}'>
                  <div class='auth__submit'>
                    <input class='submit' type='submit' value='💌 &nbsp;Send this Gif'></br>
                  </div>
                </form>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if token == '1' %}
    <div class='notification'>
      <span class='emoji'>🙌</span>
      <span>Votre token de sécurité a bien été créé</span>
    </div>
    {% endif %}

    {% if transaction == 'ok' %}
    <div class='notification'>
      <span class='emoji'>💪</span>
      <span>Envoi de {{ gif_sent.gif_name }} à {{ receiver_gif.surname }} effectué avec succès !</span>
    </div>
    {% endif %}

    {% if transaction == 'not_owner' %}
    <div class='notification'>
      <span class='emoji'>😡</span>
      <span>Vous ne pouvez pas envoyer ce gif car vous n'en êtes pas le propriétaire</span>
    </div>
    {% endif %}

    {% if transaction == 'no_receiver' %}
    <div class='notification'>
      <span class='emoji'>😣</span>
      <span>Erreur de destinataire</span>
    </div>
    {% endif %}

    {% if transaction == 'no_token' %}
    <div class='notification'>
      <span class='emoji'>😭</span>
      <span>Vous n'avez pas encore de token ! Veuillez vous connecter pour créer votre token</span>
    </div>
    {% endif %}

    {% if transaction == 'no_user' %}
    <div class='notification'>
      <span class='emoji'>🚫</span>
      <span>Erreur lors de l'envoi</span>
    </div>
    {% endif %}

    <div class='info'>
      <span class='emoji'>🔒</span>
      <span><a href="/">Déconnexion</a></span>
    </div>
  {% endif %}
{% endblock %}
